body { background-color: #3AA6D0; color: black	; }

h1{
	padding:0; margin: 0;
	font-size:16px;
	display: inline;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  ;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: white; }
a:visited { color: white; }
a:hover { color: #fff; background-color:#000; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
#user_nav{
  padding:0; margin: 40px;
		
}
#user_nav ul
{
margin: 0;
padding: 0;
list-style-type: none;
text-align: center;
}

#user_nav ul li
{
	display: inline;
	
}

#user_nav ul li a
{
	border-radius: 15px;
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #036;

}

#user_nav ul li a:hover
{
color: #fff;
background-color: #369;
}

#username_text{
	text-align: right;
	font-size: 25px;
	float: right;
	position: relative;
	display:inline-block;
	text-shadow: 2px 2px 2px black; 
}

#title_text{
	font-size:25px;
	color: black;
	float: left;
	text-shadow: 2px 2px 2px black; 

}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#box_area{
	padding-left: 6em;
}
.box{
	background-color: white;
	display: inline-block;
	margin: 1px 1px 1px 1px;
	width: 200px;
	height: 200px;
	border: 1px solid black;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

.box img{
	width:200px;
	height: 200px;
	border: 1px solid black;
}






