html {font-size:100.01%;}
body { background-color: #3AA6D0; color: black	; font-family: "Helvetica Neue"}

h1{
	padding:0; margin: 0;
	font-size:16px;
	display: inline;
}
body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  ;
}

pre {
  /*background-color: #eee;
  padding: 10px;
  font-size: 11px;*/
}

pre {
	margin: 0; padding: 0; font-family: "Helvetica Neue";
}

a { color:white;}

a:visited { color: white; }
/*a:hover { color: #fff; background-color:#000; }*/

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#menu_strip{
	position:fixed;
	top:5px;
	width: 1250px;
	background: #FF8500;
	padding: 1px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
	border-radius: 15px;
	margin-right:0;
	margin-bottom:60px;
}
#user_nav{
  padding:0; margin-top: 15px; margin-bottom: 15px;
}
#user_nav ul
{
margin:0;
padding: 0;
list-style-type: none;
text-align: center;
}

#user_nav ul li
{
	display: inline-block;
	text-align:center;
}

#user_nav ul li.search_box
{
	margin:0; border:0;
	display: inline-block;
	margin-left: 30px;
	margin-right: 30px;

}

#user_nav ul li.logout_box
{
	margin:0; border:0;
	display: inline-block;
}

#user_nav ul li a
{
	text-decoration: none;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
	padding-top:20px;
	
	padding-bottom: 20px;
	padding-left:50px;
	padding-right:50px;
	color: #fff;
	background-color: black;
}

#user_nav ul li a:hover
{
	box-shadow: 10px 10px 20px yellow;
	-moz-box-shadow: 10px 10px 20px yellow;
	-webkit-box-shadow:10px 10px 20px yellow;
}

#user_nav ul li.items_button a:hover
{
	box-shadow: 10px 10px 20px red;
	-moz-box-shadow: 10px 10px 20px red;
	-webkit-box-shadow:10px 10px 20px red;
}

#user_nav ul li.posts_button a:hover
{
	box-shadow: 10px 10px 20px #14D100;
	-moz-box-shadow: 10px 10px 20px #14D100;
	-webkit-box-shadow:10px 10px 20px #14D100;
}

#username_text{
	text-align: right;
	font-size: 18px;
	float: right;
	position: relative;
	display:inline-block;
	text-shadow: 2px 2px 2px black; 
}

#title_text{
	font-size:18px;
	color: black;
	float: left;
	text-shadow: 2px 2px 2px black; 
	width: 215px;
}

#title_text_large{
	font-size:25px;
	color: black;
	float: left;
	text-shadow: 2px 2px 2px black; 
	min-width: 180px;

}

#title_text_green{
	font-size:18px;
	color: green;
	float: left;
	text-shadow: 2px 2px 2px black; 
	width: 180px;
}

#title_text_red{
	font-size:18px;
	color: red;
	float: left;
	text-shadow: 2px 2px 2px black; 
	width: 180px;
}

#title_text_orange{
	font-size:18px;
	color: orange;
	float: left;
	text-shadow: 2px 2px 2px black; 
	width: 180px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#workspace{
	margin-top: 120px;
	margin-bottom: 20px;
	margin-left: 30px;
	padding-top: 15px;
	width: 850px;
	border: 1px solid black;
	box-shadow: 10px 10px 5px black;
	-moz-box-shadow: 10px 10px 5px black;
	-webkit-box-shadow:10px 10px 5px black;
	background-color: white;
	/*border: 1px solid red;*/
}

#view_page{
	margin-top: 150px;
	margin-left: 50px;
	margin-bottom: 50px;
	width: 1100px;
	border: 1px solid black;
	box-shadow: 10px 10px 5px black;
	-moz-box-shadow: 10px 10px 5px black;
	-webkit-box-shadow:10px 10px 5px black;
	background-color: white;
	/*border: 1px solid red;*/
}


#view_page img{

	margin-left: 325px;
	width: 400px;
	height: 400px;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 20px black;
	-webkit-box-shadow:0px 0px 20px black;
}

#view_box{
	margin-top: 150px;
	margin-left: 50px;
	margin-bottom: 50px;
	width: 1100px;
	border: 1px solid black;
	box-shadow: 10px 10px 5px black;
	-moz-box-shadow: 10px 10px 5px black;
	-webkit-box-shadow:10px 10px 5px black;
	background-color: white;
	/*border: 1px solid red;*/
}

#view_box img{
	margin-bottom: 10px;
	margin-top: 8px;
	width: 300px;
	height: 300px;
	border: 1px solid black;
	box-shadow: 10px 10px 5px black;
	-moz-box-shadow: 10px 10px 5px black;
	-webkit-box-shadow:10px 10px 5px black;
	background-color: white;
	/*border: 1px solid red;*/
}

.workspace_box{
	display: inline-block;
	background-color: black;
	margin-left: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 250px;
	height: 250px;
	padding: 0;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
		text-align: center;
}

.workspace_box a{
	text-decoration: none;
}

.workspace_box a:hover{
	color: yellow;
}
.workspace_box img{
	width: 250px;
	height: 250px;
}

.workspace_text{
	text-align: center;
	padding-top:10px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	width: 700px;
	margin-left: 75px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

.viewspace_text{
	text-align: center;
	padding-top:10px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 20px;
	margin-left: 50px;
	margin-bottom: 20px;
	width: 1000px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

.workspace_text a{
	color: white;
	text-decoration: none;
	background-color: black;
	padding-left: 5px;
	padding-right: 15px;
	-webkit-border-top-right-radius: 35px;
	-webkit-border-bottom-right-radius: 35px;
	-moz-border-radius-topright: 35px;
	-moz-border-radius-bottomright: 35px;
	border-top-right-radius: 35px;
	border-bottom-right-radius: 35px;;
}

.workspace_text a:hover{
	color: yellow;
	text-decoration: none;
	background-color: black;
	box-shadow: 10px 10px 5px red;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow:0px 0px 20px red;

}

#box_paginate_area{

}

#my_box_area{

	position: fixed;
	left: 915px;
	top: 150px;	
	color: black;
	text-shadow: 2px 2px 2px black;
}

#my_box_area a{
	text-decoration: none;
	color: white;
	
}

#paginate{
	color: black;
	text-shadow: 2px 2px 2px black;
	text-align: center;
}

#paginate a{
	text-decoration: none;
	color: white;
}

#my_box_collection{
	
	float: left;
	min-height: 150px;
	padding-top: 30px;
	padding-left:30px;
	margin-bottom: 20px;
	padding-right: 30px;
	width: 500px;
	display: block;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;	
	background-color: #FF1800;
}

.box{
	text-align: center;
	display: inline-block;
	position: relative;
	margin: 1px 1px 1px 1px;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
	background-color:black;
}

.box a {

	text-decoration:none;
	color: white;
	text-align: center;


}

.box a:hover
{
	display: inline;
	color:yellow;

}

.box li
{
	box-shadow: 10px 10px 20px blue;
	-moz-box-shadow: 0px 0px 5px blue;
	-webkit-box-shadow:0px 0px 20px blue;
}


.box img{
	width:100px;
	height: 100px;
	border: 1px solid black;
}

.mybox a {

	text-decoration:none;
	color: white;
	text-align: center;
}


.mybox a:hover
{
	display: inline;
	color:yellow;

}

.mybox img{
	width:100px;
	height: 80px;
}

.mybox{
	text-align: center;
	display: inline-block;
	position: relative;
	margin: 1px 1px 20px 1px;
	width: 100px;
	height: 120px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
	background-color:black;
}

.mybox_me a {

	text-decoration:none;
	color: white;
	text-align: center;
}


.mybox_me a:hover
{
	display: inline;
	color:yellow;

}

.mybox_me img{
	width: 150px;
	height: 160px;
}

.mybox_me{
	text-align: center;
	display: inline-block;
	position: relative;
	margin: 1px 1px 20px 1px;
	width: 150px;
	height: 200px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
	background-color:black;
}

.red{
		border: 2px solid #FF1800;
		margin-bottom: 0px;
}

.green{
	border: 2px solid green;
		margin-bottom: 0px;
}

.orange{
	border: 2px solid orange;
}

#container{
	min-height: 400px;
	margin-top: 120px;
	padding-top: 50px;
	margin-left: 30px;
	margin-right: 30px;
	background: #024C68;
	box-shadow: 10px 10px 5px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

#search_container{
	min-height: 400px;
	margin-top: 120px;
	padding-top: 50px;
	margin-left: 50px;
	width: 1150px;
	margin-right: 50px;
	background: #024C68;
	box-shadow: 10px 10px 5px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

.hover{
	box-shadow: 0px 0px 20px blue;
	-moz-box-shadow: 0px 0px 20px blue;
	-webkit-box-shadow:0px 0px 20px blue;
}

/* forms.css */
label {font-weight:bold;}
fieldset {padding:0 1.4em 1.4em 1.4em;margin:0 0 1.5em 0;border:1px solid #ccc;}
legend {font-weight:bold;font-size:1.2em;margin-top:-0.2em;margin-bottom:1em;}
fieldset, #IE8#HACK {padding-top:1.4em;}
legend, #IE8#HACK {margin-top:0;margin-bottom:0;}
input[type=text], input[type=password], input.text, input.title, textarea {background-color:#fff;border:1px solid #bbb;}
input[type=text]:focus, input[type=password]:focus, input.text:focus, input.title:focus, textarea:focus {border-color:#666;}
select {background-color:#fff;border-width:1px;border-style:solid;}
input[type=text], input[type=password], input.text, input.title, textarea, select {margin:0.5em 0;}
input.text, input.title {width:300px;padding:5px;}
input.title {font-size:1.5em;}
textarea {width:390px;height:250px;padding:5px;}
form.inline {line-height:3;}
form.inline p {margin-bottom:0;}
.error, .alert, .notice, .success, .info {padding:0.8em;margin-bottom:1em;border:2px solid #ddd;}
.error, .alert {background:#fbe3e4;color:#8a1f11;border-color:#fbc2c4;}
.notice {background:#fff6bf;color:#514721;border-color:#ffd324;}
.success {background:#e6efc2;color:#264409;border-color:#c6d880;}
.info {background:#d5edf8;color:#205791;border-color:#92cae4;}
.error a, .alert a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
.info a {color:#205791;}

div#qTip {
padding: 3px;
border: 1px solid #666;
display: none;
background: #999;
color: #FFF;
font: bold 9px Verdana, Arial, Helvetica, sans-serif;
position: absolute;
z-index: 1000;
}

.mega_button
{
	position: absolute;
	left: 55px;
	top: 80px;
	padding-left:505px;
	padding-right: 505px;
	padding-top:20px;
	padding-bottom:20px;
	border-radius: 15px;
	text-decoration: none;
	background-color:orange;
	box-shadow: 10px 10px 5px red;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow:0px 0px 20px red;
}

#sort_box_items
{
	display :inline-block;
	color: yellow;
	position: absolute;
	padding-bottom: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:2px;
	top: 170px;
	left: 820px;
	text-decoration: none;
	border-radius:30px;
}

#sort_box_dates
{
	display :inline-block;
	color: yellow;
	position: fixed;
	padding-bottom: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:2px;
	top: 150px;
	left: 475px;
	text-decoration: none;
	background-color: black;
	border-radius:30px;
}

#sort_box_posts
{
	display :inline-block;
	color: yellow;
	position: absolute;
	padding-bottom: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:2px;
	top: 170px;
	left: 220px;
	text-decoration: none;
	border-radius:30px;
}

#sort_box
{
	text-align:center;
	display :inline-block;
	color: yellow;
	position: fixed;
	width: 300px;
	padding-bottom: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:2px;
	top: 120px;
	left: 910px;
	text-decoration: none;
	border-radius:30px;
}


a:hover.mega_button
{
	box-shadow: 10px 10px 5px yellow;
	-moz-box-shadow: 0px 0px 5px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
}

#post_title_text{
	text-align: center;
	font-size: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom :15px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

#post_title_text a{
	border-radius: 15px;
	font-size: 15px;
	text-decoration: none;
	color: black;
	background-color: grey;
	padding: 3px 5px 3px 5px;
}

#post_title_text a:hover{
	font-size: 15px;
	text-decoration: none;
	background-color: yellow;
}

#post_title_text_edit{
	text-align: center;
	font-size: 20px;
	margin-top: 6px;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom :15px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

#post_title_text_edit a{
	border-radius: 15px;
	font-size: 15px;
	text-decoration: none;
	color: black;
	background-color: yellow;
	padding: 3px 5px 3px 5px;
}

#post_title_text_edit a:hover{
	font-size: 15px;
	text-decoration: none;
	background-color: orange;
}

#post_tags_text{
	text-align: center;
	font-size: 15px;
	margin-bottom: 30px;
	padding-top: 15px;
	padding-bottom :15px;
	box-shadow: 10px 10px 20px red;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow:0px 0px 20px red;
		text-shadow: 1px 1px 1px black; 
}


#post_tags_text a:hover{
	color: yellow;
}

#post_tags_text a
{
	text-decoration: none;
}

.form_field{
	text-align: center;
	font-size: 15px;
	margin-top: 3px;
	margin-left: 450px;
	margin-right: 475px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
		text-shadow: 1px 1px 1px black;
}

.form_submit
{
	margin-top:20px;
	border:none;
}


.inplaceedit{
	margin:0; padding:0;display:inline;
}

#flash_notice
{display: none;}

#search_canvas_users
{
	min-height: 125px;
	max-width: 995px;
	margin-left: 100px;
	background-color: black;
	box-shadow: 0px 0px 20px yellow;
	-moz-box-shadow: 0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	color: white;
}
#search_canvas_dates
{
	min-height: 125px;
	max-width: 995px;
	margin-left: 100px;
	margin-top:15px;
	background-color: blue;
	box-shadow: 0px 0px 20px yellow;
	-moz-box-shadow: 0px 0px 20px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
	color: white;
}

#search_canvas_posts
{
	min-height: 125px;
	max-width: 995px;
	margin-left: 100px;
	background-color: green;
	box-shadow: 0px 0px 20px #14D100;
	-moz-box-shadow: 0px 0px 20px #14D100;
	-webkit-box-shadow:0px 0px 20px #14D100;
}



#search_canvas_items
{
	min-height: 125px;
	max-width: 995px;
	margin-top:15px;
	margin-left: 100px;
	margin-bottom: 35px;
	padding-top: 5px;
	padding-left: 5px;
	background-color: red;
	
	box-shadow: 0px 0px 20px red;
	-moz-box-shadow: 0px 0px 20px red;
	-webkit-box-shadow:0px 0px 20px red;
}

.search_canvas_item
{
	width: 100px;
	height: 100px;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
	background-color:black;
}


#search_canvas_main
{
	text-align: center;
	width: 1050px;
	margin-left: 50px;
	padding-top:40px;
	min-height: 100px;
	padding-bottom: 30px;
	margin-bottom: 6px;
	background-color: #6996D3;
	box-shadow: 10px 10px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
	-webkit-border-top-left-radius: 30px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 30px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
a.css1 { font-size: 1.0em; color: #0F4FA8; text-decoration: none;}
a.css2 { font-size: 1.2em; color: #2C17B1; text-decoration: none;}
a.css3 { font-size: 1.4em; color: #14D100; text-decoration: none;}
a.css4 { font-size: 1.6em; color: #FF9F00; text-decoration: none;}

#search_title
{
	padding-top: 20px;
	text-align: center;
	font-size:30px;
	color: #FF8500;
	text-shadow: 2px 2px 2px black;
	margin-bottom: 40px;
}

#sort_box_search
{
	display :inline-block;
	color: yellow;
	position: absolute;
	padding-bottom: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top:2px;
	top: 250px;
	left: 975px;
	text-decoration: none;
	background-color: black;
	border-radius:30px;
}


#dropbox
{
	text-align: center;
}

.dropbox_box
{
	margin-top: 10px;
	margin-left: 300px;
	width: 250px;
	height: 100px;
	background-color: #FF8500;
		border: 1px solid black;
		font-size:20px;
		color: yellow;
		text-shadow: 1px 1px 1px black;
}

#favorite_posts
{
	width:250px;
	border: 1px solid orange;
}

.highlight_red
{
	padding-right: 5px;
	padding-left: 5px;
	background-color:red;
}

#comment_area{

	width:500px;
	margin-left: 350px;
	box-shadow: 10px 10px 5px black;
	-moz-box-shadow: 10px 10px 5px black;
	-webkit-box-shadow:10px 10px 5px black;
}

#comment_box{
	text-align:center;
	background-color: #FFC900;

}

.comment{
	margin-top: 20px;
	width: 500px;
	background-color: #FFC900;
}

.username{
	font-size: 20px;
	text-shadow: 2px 2px 2px black; 
}

#post_area{

}

#tag_cloud{
}

.post_collection_main_items{
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 10px;
	height: 260px;
	width: 150px;
	box-shadow: 0px 0px 50px black;
	-moz-box-shadow: 0px 0px 50px black;
	-webkit-box-shadow:0px 0px 50px black;
	text-align: center;
}


#post_collection_main{
	/*min-height: 330px;*/
	padding-top: 30px;
	margin-left:50px;
	margin-right:50px;
	padding-left:30px;
	margin-bottom:6px;
	padding-bottom:30px;
	display: block;
	background-color: green;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

#post_collection_main img{
	display: inline-block;
	height: 225px;
	width: 150px;
	float: left;
	/*to do opacity */
}

#post_favorites{
	min-height: 280px;
	padding-top: 30px;
	padding-left:30px;
	margin-left:50px;
	margin-right:50px;
	display: block;
	background-color: orange;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 5px black;
	-webkit-box-shadow:0px 0px 20px black;
}

#post_collection{
	background-color: #008500;
	min-height: 430px;
	width: 500px;
	float: left;
	margin-left: 30px;
	margin-right: 30px;
	padding-right:30px;
	padding-top: 30px;
	padding-left:30px;
	margin-bottom: 20px;
	box-shadow: 0px 0px 20px black;
	-moz-box-shadow: 0px 0px 20px black;
	-webkit-box-shadow:0px 0px 20px black;
}

.post_collection_main_items a{
	color: white;
	text-decoration: none;
}

.favorite_image{
	height:202px;
	width: 150px;
}
.favorite_images{
	height:220px;
	width: 150px;
}

.search_image{
	height: 222px;
	width: 150px;
}

#collection{
	margin-top: 120px;
}

#sacredo_signature{
	padding-top: 20px;
	padding-bottom: 30px;
	text-align: center;
	font-size:20px;
	text-shadow: 2px 2px 2px black;
}

.box_options{
	display: block;
}

#save_button{
	text-align: center;
	display: inline-block;
	color: white;
	background-color: black;
	margin-top:0px;
	margin-left: 0px;
	padding-left:410px;
	padding-right: 406px;
	padding-top:6px;
	padding-bottom:6px;

	text-decoration: none;
	box-shadow: 10px 10px 5px white;
	-moz-box-shadow: 0px 0px 5px white;
	-webkit-box-shadow:0px 0px 20px white;
}

#back_button{
	text-align: center;
	display: inline-block;
	color: white;
	background-color: black;
	margin-top:0px;
	margin-bottom: 15px;
	margin-left: 100px;
	padding-left:480px;
	padding-right: 482px;
	padding-top:6px;
	padding-bottom:6px;

	text-decoration: none;
	box-shadow: 10px 10px 5px white;
	-moz-box-shadow: 0px 0px 5px white;
	-webkit-box-shadow:0px 0px 20px white;
}
#back_form_button{
	text-align: center;
	display: inline-block;
	color: white;
	background-color: black;
	margin-top:0px;
	margin-bottom: 15px;
	padding-left:535px;
	padding-right: 535px;
	padding-top:6px;
	padding-bottom:6px;

	text-decoration: none;
	box-shadow: 10px 10px 5px white;
	-moz-box-shadow: 0px 0px 5px white;
	-webkit-box-shadow:0px 0px 20px white;
}

#delete_button{
	text-align: center;
	display: inline-block;
	color: white;
	background-color: black;
	margin-top:5px;
	
	margin-left: 0px;
	padding-left:410px;
	padding-right: 396px;
	padding-top:6px;
	padding-bottom:6px;

	text-decoration: none;
	box-shadow: 10px 10px 5px white;
	-moz-box-shadow: 0px 0px 5px white;
	-webkit-box-shadow:0px 0px 20px white;
}
a:hover#delete_button{
	
	display: inline-block;
	color: white;
	background-color: black;
	margin-left: 0px;
	padding-top:6px;
	padding-bottom:6px;

	text-decoration: none;
	box-shadow: 10px 10px 5px red;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow:0px 0px 20px red;
}

a:hover#save_button
{
	box-shadow: 10px 10px 5px yellow;
	-moz-box-shadow: 0px 0px 5px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
}

a:hover#back_button
{
	box-shadow: 10px 10px 5px yellow;
	-moz-box-shadow: 0px 0px 5px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
}

a:hover#back_form_button
{
	box-shadow: 10px 10px 5px yellow;
	-moz-box-shadow: 0px 0px 5px yellow;
	-webkit-box-shadow:0px 0px 20px yellow;
}

#error_explanation
{
	display:none;
}

.form_field  input
{ width: 100%;}


