<div id="sort_box_posts">
	Filter:
	
	<% @options = ["all", filler_string] %>

<% @posts.each do |post| %>
	<%post.tags.each do |tag| %>
		<% @options.delete(tag)%>
		<% @options << tag %>
	<% end %>
<% end %>

<%= select_tag 'sort[]', options_for_select(@options, :selected => filler_string), :include_blank => false,:onchange => remote_function(:url => {:controller => 'boxes', :action => :update_sort_posts}, :with => "'sort='+this.value", :update => "div_containing_list") %>
</div>