<div id="workspace">
	<% 3.times do |k| %>
	
	<div id="dropOnDrop_<%= k.to_s%>" class="workspace_box">drop</div>
	<%= drop_receiving_element "dropOnDrop_" + k.to_s, :hoverclass => "hover",
	    :onDrop => "function(drag, drop){ 
	       alert('you dropped ' + drag.id + ' on ' + drop.id) }" %>
	
	<% end %>
	
</div>