<% content_for :title do %>
<span id="title_text"><%= get_username(current_user.id).capitalize %>'s Items</span>
<% end %>

<%= create_button %>

</div>
<%= render 'form'%>
<%= render 'box_collection' %>


