<h1>Welcome to Blox - A new kind of blogging</h1>

<p>Blox [Codename:Vig] is a new type blogging, which tries to be modern and new by trying to be what a user would consider a visual Twitter</p>

<p>It is the Final year Project(At University of Bath) of <%= link_to "William Lee", "http://www.william-lee.com"%>. For any further questions you can email <%= mail_to "me@william-lee.com "%>