<% content_for :title do %>
<span id="title_text">		<span id="username_text">Logged in as <%= current_user.username.capitalize %></span></span>
<% end %>

<h1>Welcome to Blox - A new Kind of Blog!</h1>

<p>Blox [Codename:Vig] is a new type blogging, which aims to address the issues of blogging by abstracting all the typical elements used in blog into boxes.</p>

<p>It is the Final year Project(At University of Bath) of <%= link_to "William Lee", "http://www.william-lee.com"%>. For any further questions you can email <%= mail_to "me@william-lee.com "%>