<div id="workspace">
	
<ul>
	
	<div id="dropboxnumber1" class="workspace_box">drop</div>
	<%= drop_receiving_element ("dropboxnumber" + "1", :hoverclass => "hover", :url => root_path(:box => "1")) %>
	
	<div id="dropboxnumber2" class="workspace_box">drop</div>
	<%= drop_receiving_element ("dropboxnumber" + "2", :hoverclass => "hover",:url => root_path(:box => "2")) %>
	
	<div id="dropOnHover">drop</div>
	<%= drop_receiving_element :dropOnHover, :hoverclass => "hover", 
	      :onHover => "function(draggable, droppable, overlap){ 
	         $('dropOnHover').update('you dragged ' + draggable.id + 
	              ' over ' + droppable.id + ' by ' + overlap + 
	              ' percent');", :action => "index" %>

			</div>

