
	<% @post.boxes.each do |box| %>
		box here!<%# image_tag box.image.url, :class => :workspace_box%>
	<% end %>
	<div id="dropboxnumber1" class="workspace_box">drop</div>
	<%= drop_receiving_element ("dropboxnumber" + "1", :hoverclass => "hover", :url => { :controller => "posts", :action => "store", :post_id => @post.id} )%>


	