<div id="workspace">
	

	
	<div id="dropno1" class="workspace_box">drop</div>
	<%= drop_receiving_element "dropno" + "1" , :hoverclass => "hover",
	    :onDrop => "function(drag, drop){ 
	       alert('you dropped ' + drag.id + ' on ' + drop.id) }" %>
		<div id="dropno2" class="workspace_box">drop</div>
		<%= drop_receiving_element "dropno" + "2" , :hoverclass => "hover",
		    :onDrop => "function(drag, drop){ 
		       alert('you dropped ' + drag.id + ' on ' + drop.id) }" %>
	

	<div id="dropOnHover">drop</div>
	<%= drop_receiving_element :dropOnHover, :hoverclass => "hover", 
	      :onHover => "function(draggable, droppable, overlap){ 
	         $('dropOnHover').update('you dragged ' + draggable.id + 
	              ' over ' + droppable.id + ' by ' + overlap + 
	              ' percent');" %>

</div>

