<% content_for :title do %>
<span id="title_text">Edit Box</span>
<% end %>


</div>
<div id ="workspace">
<%= render 'workspace' %>
</div>




<div id="sort_box">
	Filter:
	
<% @options = [["all"],["images"],["text"], [filler_string] ] %>
<% @post.tags.each do |tag|%>
	<% @options << tag.to_s.gsub(",", "")%>
<% end %>
<%= select_tag 'sort[]', options_for_select(@options, :selected => 'all'), :include_blank => false,:onchange => remote_function(:url => {:controller => 'posts', :action => :update_sort_box}, :with => "'sort='+this.value", :update => "div_containing_list") %>
</div>
<%= render 'boxes/box_area'%>
