<% content_for :title do %>
<span id="title_text">New Box</span>
<% end %>

<div id="workspace">
<%= render 'workspace' %>
</div>
<%= render 'boxes/box_area'%>
<%# render 'form'%>

<%= link_to 'Back', posts_path %>
